name: test rego
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - 'LICENSE'
env:
  GO_VERSION: "1.18"
jobs:
  opa-tests:
    name: OPA tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Setup OPA
        run: |
          curl -L -o opa_linux_amd64 https://openpolicyagent.org/downloads/latest/opa_linux_amd64
          curl -L -o checksum https://openpolicyagent.org/downloads/latest/opa_linux_amd64.sha256
          sha256sum -c checksum
          chmod 755 ./opa_linux_amd64
          sudo mv ./opa_linux_amd64 /usr/local/bin/opa
      - name: OPA Format
        run: |
          files=$(opa fmt --list . | grep -v vendor || true)
          if [ -n "$files" ]; then
            echo "=== The following files are not formatted ==="
            echo "$files"
            exit 1
          fi
      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum
      - name: OPA Test
        run: make test-rego
